* {
  padding: 0;
  margin: 0;
  font-family: 'Goldman', cursive;
}

body {
  background: url(./background.png) no-repeat center center fixed;
  background-size: cover;
}

.sorte .container {
  display: flex;
  margin-left: 3.9%;
  margin-top: 10%;
}

.sorte .menor__senha p {
  display: flex;
  font-size: 50px;
  align-content: center;
  margin-left: 12%;
}

.sorte .menor__senha {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: 31.6%;
}

.sorte .menor__senha input {
  display: flex;
  font-size: 70px;
  text-align: center;
  background-color: aqua;
  width: 400px;
}

.sorte .maior__senha p {
  display: flex;
  font-size: 50px;
  align-content: center;
  margin: auto;
}

.sorte .maior__senha {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.sorte .maior__senha input {
  display: flex;
  font-size: 70px;
  text-align: center;
  background-color: aqua;
  width: 400px;
  margin-left: 10px;
}

.sorte .button__sortear {
  flex-wrap: wrap;
  text-align: center;
}

.sorte .button__sortear button{
  font-size: 70px;
  margin: 15px;
  border-radius: 20px;
  background-color: aqua;
  cursor: pointer;
  animation-name: buttonPulse;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sorte .resultado__sorteio #resultado {
  flex-wrap: wrap;
  font-size: 150px;
  text-align: center;
  background-color: aqua;
  width: 400px;
  margin-left: 42.5%;
  border-radius: 100%;
  animation: shake-horizontal 2s steps(30, start) 3000ms infinite both;
}

.sorte .numeros__sorteados {
  text-align: center;
  background-color: red;
  width: 0px;
  margin-left: 48.5%;
}

.sorte .numeros__sorteados ul {
  background-color: white;
  color: blue;
  width: 100px;
  margin-left: 48.5%;
  margin-top: 10px;
  list-style: none;
  font-size: 20px;
}

@keyframes buttonPulse {
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.05);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}


@media only screen and (max-width: 480px){
  .sorte .container {
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  .sorte .menor__senha {
    margin: 0;
    height: 130px;
    width: 200px;
  }

  .sorte .menor__senha p {
    font-size: 20px;
    margin-left: 40px;
    width: 200px;
  }

  .sorte .menor__senha input {
    font-size: 70px;
    background-color: aqua;
    width: 150px;
    margin-left: 30px;
  }

  .sorte .maior__senha {
    margin: 0;
    height: 130px;
    width: 200px;
    align-items: center;
  }

  .sorte .maior__senha p {
    font-size: 20px;
    width: 150px;
    margin-right: 100px;
  }

  .sorte .maior__senha input {
    font-size: 70px;
    background-color: aqua;
    width: 150px;
    margin-right: 100px;
  }

  .sorte .button__sortear button{
    font-size: 20px;
    margin: 15px;
    margin-left: 0px;
    border-radius: 20px;
    background-color: aqua;
    cursor: pointer;
    animation-name: buttonPulse;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .sorte .resultado__sorteio #resultado {
    font-size: 50px;
    text-align: center;
    background-color: aqua;
    border-radius: 100%;
    margin-left: 0px;
  }

  .sorte .numeros__sorteados {
    text-align: center;
    background-color: red;
    width: 0px;
    margin-left: 1%;
  }
  
  .sorte .numeros__sorteados ul {
    background-color: white;
    color: blue;
    width: 70px;
    margin-left: 150px;
    margin-top: 10px;
    list-style: none;
    font-size: 20px;
  }
}

